.left {
background-color: #FFF;
padding: 5px;
float: left;
width: 45%;
}
.middle {
    clear: both;
}
.header {
    float: left;
    padding-left: 20px;
    padding-right: 60px;
}
.headerlink{
    float:left;
    height:60px;
    line-height: 60px;
}
