{% extends 'base.html' %}
{% block pagestyles %}
  <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
{% endblock %}
{% block headerparams %}
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type='text/javascript'>
        $.ajaxSetup({
          data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
    </script>
{% endblock %}
{% block content %}

    <h3 class = 'header'>42 Coffee Cups Test Assignment</h3>
    <hr class = 'middle'/>
    <form method='POST' action='{% url personal_data_update %}' enctype="multipart/form-data" id="contactform" disabled>
        {% include 'form.html' %}
    </form>
    <div class='middle' id="sendwrapper">
        <hr>
        <a href = "{% url stored_requests %}">requests</a>
    </div>

{% endblock %}
{% block javascript %}
      <script src="http://malsup.github.com/jquery.form.js"></script> 
      <script src='{{ STATIC_URL }}js/ajax_form.js'>
          
      </script>
{% endblock %}