{% extends 'base.html' %}
{% block content %}
    <h3>
        Stored requests
    </h3>
    <hr/>
    {% if stored_requests %}
    <table border=1>
        <tr>
            <th> Date added </th>
            <th> META </th>
            <th> path </th>
            <th> body </th>
        </tr>
        {% for r in stored_requests %}
        <tr>
            <td> {{ r.date_added }} </td>
            <td><textarea rows="10" cols="45" name="text"> {{ r.meta }} </textarea></td>
            <td> {{ r.path }} </td>
            <td> {{ r.body }} </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        No stored requests
    {% endif %}
{% endblock %}
